---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1>
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>
      <!-- Look the author details up from the site config. -->
      {% assign author = site.authors[post.author] %}

      <!-- Output author details if some exist. -->
      {% if author %}
      <span class="post-date">
        <!-- Personal Info. -->
	{{ author.name }}
	<!-- <a href="{{ author.email }}" target="_blank">{{ author.name }}</a> -->
      </span>
      {% endif %}

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a href="{{ site.baseurl }}/page{{paginator.next_page}}" class="older">Older</a>
  {% else %}
    <span class="next">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a href="{{ site.baseurl }}/" class="newer">Newer</a>
    {% else %}
      <a href="{{ site.baseurl }}/page{{paginator.previous_page}}" class="newer">Newer</a>
    {% endif %}
  {% else %}
    <span class="previous">Newer</span>
  {% endif %}
</div>
